.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._一级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._流程形状 {
}
._连接线 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
.box_1 {
  font-family:'微软雅黑';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
.line {
}
.droplist {
  color:#000000;
  text-align:left;
}
._形状 {
}
.box_2 {
  font-family:'微软雅黑';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
.icon {
}
.image {
}
.box_3 {
}
.ellipse {
}
.label {
  font-size:14px;
  text-align:left;
}
._图片 {
}
.placeholder {
}
.link_button {
  color:#169BD5;
}
._底部导航-选中 {
  font-family:'微软雅黑';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
._底部导航-未选中 {
  font-family:'微软雅黑';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
.placeholder1 {
}
.label1 {
  font-size:14px;
  text-align:left;
}
.box_21 {
}
.icon1 {
}
.line1 {
}
.guide_-___ {
  font-size:12px;
  color:#FF0000;
}
.guide_-___1 {
}
._底部导航-未选中1 {
  font-family:'微软雅黑';
  font-weight:650;
  font-style:normal;
  color:#CCCCCC;
}
._底部导航-选中1 {
  font-family:'微软雅黑';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
.box_11 {
}
._形状1 {
}
.line2 {
}
.box_22 {
  font-family:'微软雅黑';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
.primary_button {
  color:#FFFFFF;
}
.icon2 {
}
.box_31 {
}
._形状2 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
.connector {
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
  text-align:center;
  line-height:normal;
}
